<div class="patient-table-scroll scroll-right">
    <div class="patient-table-wrap-v5">
        <div class="patient-table-header"></div>
        <div class="patient-table-row">
            <div class="col-flex">
                <div class="top-flex">
                    <div class="top-flex-item">
                        <h5>First Name</h5>
                        <div>Matt</div>
                    </div>
                    <div class="top-flex-item">
                        <h5>Last Name</h5>
                        <div>Abu</div>
                    </div>
                    <div class="top-flex-item">
                        <h5>DOB</h5>
                        <div>06/04/1976</div>
                    </div>
                </div>
                <div class="bottom-flex">
                    <div class="bottom-flex-item">
                        <a class="btn btn-small-view" href="/patient/id/"><span class="text">view
                                patient</span><span class="icon icon-arrow-right icon-dark"></span></a>
                    </div>
                    <div class="bottom-flex-item">
                        <div class="btn-item">
                            <div class="btn-item dropdown-btn-wrap">
                                <a class="btn btn-primary btn-small dropdown-trigger create-btn"><span
                                        class="text"></span>
                                    + add prescription</span></a>
                                <div class="dropdown-content two-column-dropdown">
                                    <div class="hide-padding">
                                        <ul class="dropdown-list no-style">
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="dropdown-with-logo-wrap">
                                                    <img class="icon" src="/spa/images/hair.png" alt="" />
                                                    <div class="dropdown-with-logo">
                                                        <img class="dropdown-condition-logo-hair"
                                                            src="/spa/images/hs-logo-allblue.png" alt="" />/Oral
                                                        Minoxidil
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <span class="badge">NEW</span>Hair Removal (Eflornithine)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/skin-fungus.png" alt="" />Nail
                                                    Fungus
                                                    (Ciclop/Itracon/Terbin)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/hyperhidrosis.png"
                                                        alt="" />Hyperhidrosis/Glycopyrrolate
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/keratosis.png" alt="" />Keratosis
                                                    Pilaris
                                                    (Diclof/Tacro/Tret)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/arthritis.png" alt="" />JAK
                                                    (Tofacitinib)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/itching.png" alt="" />Itching
                                                    (Amitrip/Gaba/Lido)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/anti-inflammatory.png"
                                                        alt="" />Anti-Inflam
                                                    (Clobet/Calcip/Tacro)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/acne.png" alt="" />Acne
                                                    Retinoids/Dapsone
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/rosacea.png"
                                                        alt="" />Rosacea/Oxymetazoline
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/anti-aging.png"
                                                        alt="" />Anti-Aging
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/lightening.png"
                                                        alt="" />Lightening
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/wart.png" alt="" />Wart
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/chemo.png"
                                                        alt="" />Chemotherapeutic
                                                    (5-FU/Calcip)
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/doxy-spirono.png"
                                                        alt="" />Doxy/Spirono
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/sulfa.png"
                                                        alt="" />Sulfacetamide-Sulfur
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/anti-inflammatory.png"
                                                        alt="" />Cholesterol-Lovastatin
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/scara.png" alt="" />Scar
                                                </div>
                                            </li>
                                            <li class="hover-text-blue" style="cursor: pointer">
                                                <div class="">
                                                    <img class="icon" src="/spa/images/12b.png" alt="" />Intertrigo
                                                    (Iodoquinole/HTC)
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>