<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav-menu no-style">
      <li>
        <a title="Patient List" data-cy="sidebar-patient-list" href="/" aria-current="page">
          <div style="position: relative; display: flex; gap: 6px;" >
            <img src="/images/svg/people.svg" style="width: 20px;" alt="">Patient List
          </div>
        </a>
      </li>

      <li>
        <a title="Product List" data-cy="sidebar-product-list" href="/product-list">
          <div style="position: relative; display: flex; gap: 6px;" >
            <img src="/images/svg/book-svgrepo-com.svg" style="width: 20px;" alt="">Product List
          </div>
        </a>
      </li>
      <li>
        <a title="Patient Handout" data-cy="sidebar-patient-handout" href="/patient-handout">
          <div style="position: relative; display: flex; gap: 6px;" >
            <img src="/images/svg/book-svgrepo-com.svg" style="width: 20px;" alt="">Patient Handout
          </div>
        </a>
      </li>
      <li>
        <a title="Staff" data-cy="sidebar-staff" href="/staff">
          <div style="position: relative; display: flex; gap: 6px;" >
            <img src="/images/svg/doctor-svgrepo-com.svg" style="width: 20px;" alt="">Staff
          </div>
        </a>
      </li>
    

    </ul>
  </nav>
</div>