<div style="position: relative">
    <div class="patient-table-scroll scroll-right">
      <div class="patient-table-wrap-v3 scroll-view">
        <div class="patient-table-header"></div>
        <div class="patient-table-row" data-cy="patient-record">
          <div class="col flex-col">
            <div class="top-flex">
              <div class="top-flex-item">
                <h5>First Name</h5>
                <p id="firstname">Matt</p>
              </div>
              <div class="top-flex-item">
                <h5>Last Name</h5>
                <p id="lastname">Abu</p>
              </div>
              <div class="top-flex-item flex-change">
                <h5>DOB</h5>
                <p id="dob">06/04/1976</p>
              </div>
              <div class="top-flex-item flex-change">
                <a class="btn btn-small" href="#"><span class="plus-symbol">Select</span></a>
              </div>
            </div>
            <!-- <div class="lower-flex">
              <div class="lower-flex-left">
                <h5>DOB</h5>
                <p>07/04/1976</p>
              </div>
              <div class="lower-flex-right">
                <a class="btn btn-small" href="/"><span class="plus-symbol">Select</span></a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  