<% const staff_id_link = '/staff/id/${data.ROW4}' %>
<div class="btn-item">
    <a class="btn btn-small-view" href="<%- staff_id_link %>">
        <span class="text">view</span>
        <span class="icon icon-arrow-right icon-dark"></span>
    </a>
</div>