<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>In Development</title>
  <link rel="stylesheet" href="/styles/output.css" />
</head>

<body>
  <%- include('./components/header', {detail : detail}) %>
  <div class="page-container create-prescription-content-wrap">
    <div class="container">
      <div class="main-content">
        <div style="position: relative">
          <div class="white-box intro-box">
            <h1>Change Password</h1>
          </div>
          <div class="cart-medication-box-wrap">

            <form class="white-box medication-box form-primary" id="change-password" method="post" action="/update_password">
              <h3 class="h2-title">Create a new password</h3>
              <div class="patient-box white-box form-box">
                <label class="patient-info-item">Old password</label>
                <div class="btns-holder">
                  <div class="input-holder btn-item">
                    <input name="currentPassword" type="password" maxlength="255" />
                  </div>
                </div>
              </div>
              <div class="patient-box white-box form-box">
                <label class="patient-info-item">New password</label>
                <div class="btns-holder">
                  <div class="input-holder btn-item">
                    <input name="newPassword" type="password" maxlength="255" />
                  </div>
                </div>
              </div>
              <div class="patient-box white-box form-box">
                <label class="patient-info-item">Confirm new password</label>
                <div class="btns-holder">
                  <div class="input-holder btn-item">
                    <input name="confirmNewPassword" type="password" maxlength="255" />
                  </div>
                </div>
              </div>
              <div class="btn-holder-center">
                <a class="btn btn-secondary" href="/">Cancel</a><button class="btn btn-primary" type="submit"
                  value="Change Password">
                  Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>