<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css" />
    <title>Document</title>
</head>

<body>
    <div class="page-container create-prescription-content-wrap">
        <div class="container">
            <div class="main-content">
                <div style="position: relative">
                    <div class="white-box intro-box">
                        <h1>Change Password</h1>
                    </div>
                    <div class="cart-medication-box-wrap">

                        <form class="white-box medication-box form-primary" id="change-password" method="post"
                            action="/update_password">
                            <h3 class="h2-title">Create a new password</h3>

                            <div class="patient-box white-box form-box">
                                <label class="patient-info-item">New password</label>
                                <div class="btns-holder">
                                    <div class="input-holder btn-item">
                                        <input name="email" type="email" value="<%- email %>" readonly hidden />
                                        <input name="newPassword" type="password" maxlength="255" id="newPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="patient-box white-box form-box">
                                <label class="patient-info-item">Confirm new password</label>
                                <div class="btns-holder">
                                    <div class="input-holder btn-item">
                                        <input name="confirmNewPassword" type="password" maxlength="255"
                                            id="ConfirmNewPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="btn-holder-center">
                                <a class="btn btn-secondary" href="/">Cancel</a><button class="btn btn-primary"
                                    type="submit" value="Change Password" id="submitBtn">
                                    Save Changes
                                </button>
                            </div>
                        </form>

                        <script>
                            const newPassword = document.getElementById('newPassword');
                            const ConfirmNewPassword = document.getElementById('ConfirmNewPassword');
                            const submitBtn = document.getElementById('submitBtn');

                            submitBtn.addEventListener('click', (event) => {
                                if (newPassword.value.length < 7 || ConfirmNewPassword.value.length < 7) {
                                    newPassword.style.border = 'none', newPassword.style.boxShadow = '0 0 5px red';
                                    ConfirmNewPassword.style.border = 'none', ConfirmNewPassword.style.boxShadow = '0 0 5px red';
                                    event.preventDefault();
                                }
                                else {
                                    if (newPassword.value != ConfirmNewPassword.value) {
                                        newPassword.style.border = 'none', newPassword.style.boxShadow = '0 0 5px red';
                                        ConfirmNewPassword.style.border = 'none', ConfirmNewPassword.style.boxShadow = '0 0 5px red';
                                        event.preventDefault();
                                    }
                                    else {
                                        newPassword.style.border = 'none', newPassword.style.boxShadow = '0 0 5px green';
                                        ConfirmNewPassword.style.border = 'none', ConfirmNewPassword.style.boxShadow = '0 0 5px green';
                                    }
                                }
                            });

                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>