<!DOCTYPE html>
<html lang="en">

<head>
  <title>OTP Verification</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 550px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
    }

    .form-group input {
      width: 100%;
      padding: 5px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;
      outline: none;
    }

    .form-group #email {
      outline: none;
      border: none;
      font-size: medium;
      margin-top: -10px;
      color: rgb(128, 128, 128);
    }

    .form-group button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>


</head>



<body>

  <br><br>
  <div class="container">
    <form action="/forgot_password_mail" method="post" id="form">
    <!-- <form id="form"> -->
      <div class="form-group">
        <label for="e-mail" style="display: flex;"> Your Email Address </label>
        <br>
        <input type="text" name="email" id="email" placeholder="example@gmail.com">
      </div>

      <div class="form-group"><br>
        <button type="submit"> SEND OTP </button>
      </div>
    </form>

  </div>

  <div id="response"> </div>



</body>

</html>